/*Container elements*/

.text-block_img {position: absolute;
  			bottom: 20px;
  			right: 20px;
			font-size: 20px;
			box-shadow: 3px 3px 3px #fff;
			padding-left: 20px;
			padding-right: 20px;
			/*all 20, 17, 12, 12*/
			}

.middle_column{
    			width: 60%;
			/*width 60%, 80%, 80%, 80%*/
    			/*min-height: 400px;*/

			}

.left_column{
    			width: 20%;
    			/*min-height: 400px;*/
			}

.right_column{
    			width: 20%;
    			/*min-height: 400px;*/
			}


/*header*/

.header		{
			height: 100px;
			/*height 100, 87, 60, 40 */
			background-size:100% 100%;
		}




.img_logo	{	height: 81px;
			/*height 81, 70, 49, 32 */
			width: 214px;
			/*width 214, 185, 128, 86*/
			box-shadow: 3px 3px 3px #fff;
		}


.font_header	{	font-size: 30px;
			/* font-size:30, 26, 18, 12 */ 

		}


.div_table 	{	width: 98%;
			height: 85px;
			/* height: 85, 74, 51, 51 */
			padding: 0px;
		}

.row  		{	height: 85px;
			/* height: 85, 74, 51, 51 */
    		}


.right
		{	padding-left: 20px;
			padding-top: 0px;
		}

/* Header menu items */

.header_menu
		{
    			height: 25px;
			/* height:25, 22, 15, 15 */
			background-size:100% 100%;
		}

.header_button, .header_active, .header_home
		{	border-width: 1px 1px 4px 1px;
			font-size: 16px;
			/*  font-size:16, 14, 10, 10*/
    			height: 25px;
			/* height:25, 22, 15, 15 */

		}

.drop_button	{	border-width: 1px 1px 4px 1px;
			font-size: 16px;
			/*  font-size:16, 14, 10, 10*/
   			height: 25px;
			/* height:25, 22, 15, 15 */
		}




.header_max	{	height: 1px;
    			border-width: 1px;
		}

.header_active	{	border-width: 1px 1px 4px 1px;
			font-size: 16px;
			/*  font-size:16, 14, 10, 10*/
    			height: 25px;
			/* height:25, 22, 15, 15 */
		}


.drop_button	{	width: 100%;
		}

/*Menu left column*/

div.menu_left	{	margin: 5px; 
			padding: 5px;
			/* xx-left: 5px, 4px, 3px, 3px */
			margin-bottom: 10px;
			border-radius: 10px;
		}


ul.menu_left	{	padding-left: 5px;
			margin-left: 5px;
			/* xx-left: 5px, 4px, 3px, 3px*/
			padding-bottom: 0; 
		}

li.menu_left	{ 	font-size: 18px; 
			/* font-size 18, 14, 11, 11 */
			margin-left: 10px;
			/* xx-left: 10px, 8px, 6px, 6px*/
			padding-left: 5px;
			margin-bottom: 3px;
		}

li.menu_left2	{	padding-left: 12px;
			/* xx-left: 12px, 9px, 8px, 8px*/
			font-size: 18px; 
			/* font-size 18, 14, 11, 11 */
			color: ##b63919; 
			margin-left: 15px;
			/* xx-left: 15px, 10px, 9px, 9px*/
			margin-bottom: 1px;
		}




a.menu_left	{ 	font-size: 16px;
			/* font-size 16, 13, 10, 10 */
			padding: 0em;
			margin: 0px;
			text-align: left ;
			padding-left: 0px;
			margin-bottom: 0px;
		}

a.menu_left2	{ 	font-size: 16px;
			/* font-size 16, 13, 10, 10 */ 
			padding: 0em;
			margin: 0px;
			padding-left: 0px;
			margin-bottom: 0px;	
		}

/*Middle column*/

.article	{	margin-top: 0px;
			margin-right: 0px;
			width: 100%;
			padding: 10px;
		}

p.article	{	text-indent:0px; 
			font-size: 16px;			
			/* font-size 16, 13, 10, 10 */ 
			/*letter-spacing: 0.04em;*/
			padding: 0px;
			margin-top: 2px;
			margin-right: 0px;
			margin-bottom: 5px;
			margin-left: 0px;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
		}

a.text	{ 		font-size: 16px;			
			/* font-size 16, 13, 10, 10 */ 
		}


/* Saalistilastot */



.Sat	{		font-size: 20px;
			/* font-size 20, 16, 12, 12 */
    			height: 40px;
			/* height 40, 32, 24, 24 */
}

form {			padding: 5px;
}


select 		{	/*width: 100px;*/
  			padding: 2px 2px;
			border-radius: 4px;
			font-size: 20px;
			/* font-size 20, 16, 12, 12 */
			}

.sati		{	border-radius: 4px;
			padding: 1px 1px;
			font-size: 20x;
			/* font-size 20, 16, 12, 12 */
			height: 25px;
			/* height 25, 20, 15, 10 */
			}

caption.Sat	{ 	font-size: 24px;
			/* font-size 24, 19, 14, 14 */
			/*padding-left: 8px;*/
			line-height: 1.3;
			}

caption		{ 	font-size: 24px;
			/* font-size 24, 19, 14, 14 */
			padding-left: 8px;
			/*line-height: 1.3;*/
			}


th.saalistilastot1 { 	font-size: 20px;
			/* font-size 20, 16, 12, 12 */
			padding-left: 5px;
			margin: 0px;
		}

th.saalistilastot { 	font-size: 16px;
			/* font-size 16, 13, 10, 10 */ 
			padding-left: 5px;
			margin: 0em;
		}


td		{	font-size: 16px;
			/* font-size 16, 13, 10, 10 */
			padding-left: 5px;
			margin: 0px;
		}


td.saalistilastot {	font-size: 16px;
			/* font-size 16, 13, 10, 10 */
			padding-left: 5px;
			margin: 0px;
			height: 35px;
		}


img.saalistilastot {	border-radius: 4px;
  			padding: 5px;
			height: 180px;
			/* height 180, 144, 108, 108 */
		}

img.saalistilastot:hover {
  			box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
			}


/* kuulumiset */


.text_box-img 	{	bottom: 20px;
  			right: 20px;
			font-size: 12px;
			/* font-size 12, 10, 10, 10 */
			box-shadow: 3px 3px 3px #fff;
			border-radius: 4px;
			padding-left: 20px;
			padding-right: 20px;
			/*all 20, 16, 12, 10*/
} 



.Blog		{	font-size: 12px;
			/* Font 12, 10, 10, 10 */
			padding: 2px 2px;
    			height: 25px;
			/* height 25, 20, 15, 10 */
			border-radius: 4px
}

form.blogf {		padding: 2px;
}


.blogi	 	{	border-radius: 4px;
			padding: 1px 2px;
			font-size: 12x;
			/* font-size 12, 10, 10, 10 */ 
			}

.blogs 		{	/*width: 100px;*/
  			padding: 2px 2px;
			border-radius: 4px;
			font-size: 12px;
			/* font-size 12, 10, 10, 10 */ 
			background-color: #f1f1f1;
			}

/*Blogi menu left column*/

div.bmenu_left	{	margin: 5px; 
			padding: 5px;
			/* All 5, 4, 3, 2 */
			margin-bottom: 10px;
			/* margin-bottom 10, 8, 6, 4 */
			border-radius: 10px;
		}


ul.bmenu_left	{	padding-left: 5px;
			margin-left: 5px;
			/* All 5, 4, 3, 2 */
			padding-bottom: 0; 
		}

li.bmenu_left	{ 	font-size: 12px; 
			/* font-size 12, 10, 10, 10 */
			color: #b63919; 
			margin-left: 10px;
			/* margin-left 10, 8, 6, 4 */
			text-align: left ;
			padding-left: 5px;
			/* padding-left 5, 4, 3, 2 */
			margin-bottom: 3px;
			/* margin-bottom 3, 2, 2, 1 */
		}

a.bmenu_left	{ 	font-size: 12px;
			/* font-size 12, 10, 10, 10 */
			padding: 0em;
			margin: 0px;
			padding-left: 0px;
			margin-bottom: 0px;
		}


/*Blogi article*/

h1.h1blog	{	font-size: 20px;
			/* font-size 20, 16, 12, 12 */
			margin: 0px;
			padding: 4px 4px;
			/* padding 4, 3, 2, 2 */
			border-radius: 4px
}

h2.h1blog	{	font-size: 16px;
			/* font-size 16, 13, 10, 10 */
			margin: 0px;
			padding: 4px 4px;
			/* padding 4, 3, 2, 2 */
			border-radius: 4px
}


.dbarticle	{	margin: 0px;
			margin-top: 0px;
			width: 95%;
			padding: 10px;
		}

p.barticle	{	font-size: 14px;
			/* font-size 14, 12, 10, 10 */
			margin-top: 2px;
			margin-right: 0px;
			margin-bottom: 5px;
			/* margin-bottom 5, 4, 3, 2 */
			margin-left: 0px;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
		}

p.barticle_bold	{	text-indent:0px; 
			font-size: 14px;
			/* font-size 14, 12, 10, 10 */
			/*letter-spacing: 0.04em;*/
			margin-top: 2px;
			margin-right: 0px;
			margin-bottom: 5px;
			/* margin-bottom 5, 4, 3, 2 */
			margin-left: 0px;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
		}

a.btext	{ 		font-size: 14px;
			/* font-size 14, 12, 10, 10 */
		}



iframe.iframe_left { 	width: 45%;
			margin-top: 5px;
			/* margin-top 5, 4, 3, 2 */
			margin-right: 10px;
			/* margin-right 10, 8, 6, 4 */
			margin-bottom: 0px;
			margin-left: 0px;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
		}

iframe.iframe_right { 	width: 45%;
			margin-top: 5px;
			/* margin-top 5, 4, 3, 2 */
			margin-right: 5px;
			/* margin-right 5, 4, 3, 2 */
			margin-bottom: 0px;
			margin-left: 0px;
			padding-top: 0px;
			padding-right: 8px;
			padding-bottom: 0px;
			padding-left: 0px;
		}
