<!-- {% load static %} -->
{% load static %}


<head>
	<title>Saalistilastot Pellon alue | Naamisuvanto.net</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="copyright" content="Mäkki-</br>venevuokraus Uusitalo" />
	<meta name="DC.Title" content="naamisuvanto.net" />
	<meta name="description" content="The Tornio River is the longest free-flowing rive in the whole Europe. Rowing Boat Trolling on the Pool of Naamisuvanto</br>other pools in Pello offers you a great possibility to experience the adventure of fishing salmon</br>othe spieces." />
	<meta name="robots" content="index,follow" />
	<meta name="geo.position" content="66.9263;23.889612" />
	<meta name="ICBM" content="66.9263;23.889612" />

	<link rel="stylesheet" type="text/css" href="{%static 'css/css.css'%}">

	    <script src="{%static 'java/jquery-1.12.4.js'%}"></script>
  	  <script src="{%static 'java/jquery-ui.js'%}"></script>
        
</head>

<body>   
    
    <div class = "header_max"></div>	
	<div class = "header">
		<div class="div_table">
  			<div class="row">
    				<div class="left"><img class = "img_logo" src="http://www.naamisuvanto.net/fi/images/saalistilastot/logo_uusitalo.jpg" alt="Petri Uusitalo logo" />
    				</div>
    				<div class="right"><Font class = "font_header">Kalaan Naamisuvannolle - Tornionjoen Ottipaikalle</font>
    				</div>
			</div>
		</div>

		<div class = "header_wrapper">
			<div class = "header_menu">
						<a href="http://www.naamisuvanto.net/fi/index.html" class = "header_home">etusivu</a>
						<a href="http://www.naamisuvanto.net/fi/kuulumiset/index.html" class = "header_button">kuulumiset</a>
						<a href="http://www.naamisuvanto.net/fi/palvelut/index.html" class = "header_button" class = "header_button">palvelut</a>
						<a href="http://www.naamisuvanto.net/fi/kalaan/index.html" class = "header_active">kalaan</a>
						<a href="http://www.naamisuvanto.net/fi/pello/index.html" class = "header_button">Pello</a>
						<a href="http://www.naamisuvanto.net/fi/kuvagalleria/index.html" class = "header_button">kuvagalleria</a>
						<a href="http://www.naamisuvanto.net/fi/herkut/index.html" class = "header_button">Lapin herkut</a>
				<div class = "header_drop">
							<a class = "drop_button" >osastot</a>
					<div class = "drop_content">
						<a href="http://www.naamisuvanto.net/fi/palvelut/index.html" class = "drop_button">palvelut</a>
						<a href="http://www.naamisuvanto.net/fi/kalaan/index.html" class = "drop_button">kalaan</a>
						<a href="http://www.naamisuvanto.net/fi/pello/index.html"" class = "drop_button">Pello</a>
						<a href="http://www.naamisuvanto.net/fi/kuvagalleria/index.html" class = "drop_button">kuvagalleria</a>
						<a href="http://www.naamisuvanto.net/fi/herkut/index.html" class = "drop_button">Lapin herkut</a>
					</div>
				</div>
			</div>
		</div>
		<input type='checkbox' style='display: none'  id=header_toggle>
		<label class="header_acc_button" for=header_toggle>Hide menu</label>
		<div class = "top_image"><img src="http://www.naamisuvanto.net/fi/images/saalistilastot/saalistilasto_top_20.jpg" alt="Lohensoutu Naamisuvannolla" width="100%">
		<div class = "text-block_img">www.naamisuvanto.net</div>
		

	</div> 
	


    <div class = "container">
        <div class = "left_column"> 



			<div class="menu_left">
				<ul class="menu_left">
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/index.html" class="menu_left" title="Kalaan; lohensoutu, perhokalastus, kalastus rannalat, kalalajit, kalastusvälineet...">Kalaan Tornionjoelle</a></li>

				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/tornionjoki.html" class="menu_left" title="Tornionjoki on yhö vapaa, luonnontilainen joki - yksi maan tärkeimmistä lohijoista">Tornionjoki</a></li>
				<li class="menu_left2"><a href="http://www.naamisuvanto.net/fi/kalaan/kalastussaannot.html" class="menu_left2" title="Ohjeet lohen kalastukseen rajaväylällä">Kalastusetiketti</a></li>
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/lohensoutu/index.html" class="menu_left" title="Lohensoudun niksit.">Lohensoutu</a></li>
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/perhokalastus/index.html" class="menu_left" title="Perhokalastusmahdollisuudet: perhokalastajat ovat löytäneet Tornionjoen....">Perhokalastus</a></li>
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/rannalta_kalastus/index.html" class="menu_left" title="Heittokalastus rannalta: mahdollisuudet ja niksit"">Rannalta kalastus</a></li>
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/harjuksen_kalastus/index.html" class="menu_left" title="Harrin pyynti: mahdollisuudet ja niksit">Harjuksen kalastus</a></li>
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/kalalajit/index.html" class="menu_left" title="Tornionjoen monipuoliset kalastusmahdollisuudet: lohi, harjus, siika...">Kalalajit</a></li>
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/kalastusvalineet/index.html" class="menu_left" title="Varusteet kunnossa lohi ei karkaa">Kalastusvälineet</a></li>
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/kalankasittely/index.html" class="menu_left" title="Lohen oikea käsittely takaa makunautinnon">Kalan käsittely</a></li>
				<li class="menu_left"><a href="http://www.naamisuvanto.net/fi/kalaan/saalistilastot/index.html" class="menu_left" title="Kalastuskaudella päivittäin ajan tasalla pidettävä saalistilasto">Saalistilastot</a></li>
				</ul>
			
				
			</div>

		</div>
		<input type='checkbox' style='display: none'  id=left_toggle>
        <label class="left_acc_button" for=left_toggle>Hide menu</label>

        <div class = "middle_column">



<center>
<form action="/saalistilastot/" method="get">
				<div class="Sat">
								
						<label for="vuosi">Valitse vuosi:</label>
						<select id="vuosi" name="vuosi" class="Sats">
							{% if not y %}
							<option value= "-" selected>-</option>
							{% endif %}
							{% for y in years %}
							{% if y == year %}
							<option value={{y}} selected>{{y}}</option>
							{% else %}
							<option value={{y}}>{{y}}</option>
							{% endif %}
							
							{% endfor %}
							
  						</select>
  						<input type="submit" value="Hae" class="sati">
						

				</div>

<div>
<input type="hidden" id="page" name ="page" value = 1>
</form>	


				
				<input type='checkbox' style='display: none'  id=search_toggle>
				<label class="Sat" for=search_toggle>Tarkennettu haku </label>

<form action="/saalistilastot/" method="get">
<table width="100%" class = "search">
<tr>
<th class="saalistilastot">  <label for="date_from">Saantiaika:</label></th>
<td class="saalistilastot">  <input type="date" id="date_from" name="date_from" format = "dd/mm/yyyy" {% if date_from %}value = {{date_from}}{% endif %}>
  <label for="date_from">  -  </label>
  <input type="date" id="date_to" name="date_to" {% if date_to %}value = {{date_to}}{% endif %}>
</td>
</tr>
<tr>
<th class="saalistilastot"><label for="Kalastajat">Kalastajat:</label></th>
<td class="saalistilastot">  <input type="text" id="Kalastajat" name="Kalastajat" {% if kalastajat %}value = {{kalastajat}}{% endif %}>
</td>
</tr>
<tr>
<th class="saalistilastot"><label for="Saantipaikka">Saantipaikka:</label></th>
<td class="saalistilastot"><input type="text" id="Saantipaikka" name="Saantipaikka" {% if saantipaikka %}value = {{saantipaikka}}{% endif %}>
</td>
</tr>
<tr>
<th class="saalistilastot"><label for="Viehe">Viehe:</label></th>
<td class="saalistilastot"><input type="text" id="Viehe" name="Viehe" {% if viehe %}value = {{viehe}}{% endif %}>
</td>
</tr>
<tr>
<th class="saalistilastot"><label for="Paino_from">Paino (kg):</label></th>
<td class="saalistilastot"><input type="number" id="Paino_from" name="Paino_from" size="4" {% if paino_from %}value = {{paino_from}}{% endif %}>
<label for="Paino_to"> - </label>
  <input type="number" id="Paino_to" name="Paino_to" size="4" {% if paino_to %}value = {{paino_to}}{% endif %}>
<tr>
<th class="saalistilastot"><label for="Pituus_from">Pituus (cm):</label></th>
<td class="saalistilastot"><input type="number" id="Pituus_from" name="Pituus_from" size="4" {% if pituus_from %}value = {{pituus_from}}{% endif %}>

  <label for="Pituus_to"> - </label>
  <input type="number" id="Pituus_to" name="Pituus_to" size="4" {% if pituus_to %}value = {{pituus_to}}{% endif %}>
</td>
</tr>
<tr>
	<th class="saalistilastot"><label for="p">Saalit per sivu:</label></th>
	<td class="saalistilastot"><input type="number" id="p" name="p" size="4" value = {{p}}>
	
</tr>
</tr>
<tr>
	<th class="saalistilastot"><label for="p">Järjestä</label></th>
	<td class="saalistilastot">

	<input type="radio" id="aika" name="sort" value = "aika" {% if sort == "aika"  %}checked{% endif %}>
	<label for="aika">Päivämäärä</label>
	<input type="radio" id="paino" name="sort" value = "paino" {% if sort == "paino"  %}checked{% endif %}>
	<label for="paino">Paino</label>
	<input type="radio" id="pituus" name="sort" value = "pituus" {% if sort == "pituus"  %}checked{% endif %}>
	<label for="pituus">Pituus</label>
	<input type="checkbox" id="reverse" name="reverse" {% if reverse %}checked{% endif %}>
	<label for="reverse">Käänteinen</label>
	

</tr>
<tr>
<th class="saalistilastot" colspan="2"><center><input type="submit" value="Hae" class="sati"></form></center>
</th>
</tr>



</table>
<input type="hidden" id="page" name ="page" value = 1>
</form>

			<div class="article">
			<p class="article">Tähän tilastoon kerätään  <b>tietoja ja kuvia alueella</b> tulleista lohista. </p>
 			<p class="article">Ilmoita oma saaliisi ja lähetä kuva <a  href=" " TARGET="top" class="text">tästä linkistä.</a></p>
			<p class="article">Julkaisemme listavalla myäs luotettavat tiedot CR lohista, vaikka niitä ei lasketa Tornionjoen yhteiseen saalistilastoon. Pyytämisen jälkeen vapautettujen kalojen määrä on viime vuosina kasvanut pikku hiljaa.</p>
 			<p class="article">Päivitämme saalistilastoa päivittäin.</p>
			<p class="article">
			<b>HUOM! Vialliset kalat ilmoittakaa alla olevan linkin kautta:</b>
			<br/>	
			<center><a href="https://rapporterafisk.sva.se/" TITLE="Naamisuvanto." TARGET="top" class="text">SVA portaali</a></center>
			</p>   			
 			
			</div>



				<table width="100%">
				<caption>Saalistilastot</caption>

				{% for saalis in saaliit %}

				<tr><th colspan="3" class="saalistilastot">{{saalis.saaja}}</th></tr>
				<tr><td rowspan="6" style="text-align: center">
					{% if saalis.kuva %}
				<a target="_blank" href="{{saalis.kuva.url}}">
				<img src="{{saalis.kuva.url}}" class="saalistilastot"/>
				</a>
				{% endif %}
				<br/>
				Klikkaa kuva suuremmaksi
				</td>
				<th class="saalistilastot">Paikka</th><td class="saalistilastot">
					{% if not saalis.paikka == None %}
					{{saalis.paikka}}	
					{% endif %}	
				</td></tr>
				<tr><th class="saalistilastot">Viehe</th><td class="saalistilastot">
					{% if not saalis.viehe == None %}
					{{saalis.viehe}}	
					{% endif %}
				</td></tr>
				<tr><th class="saalistilastot">Paino (kg)</th><td class="saalistilastot">
					{% if not saalis.paino == None %}
					{{saalis.paino}}
					{% endif %}
				</td></tr>
				<tr><th class="saalistilastot">Pituus (cm)</th><td class="saalistilastot">
					{% if not saalis.pituus == None %}
					{{saalis.pituus}}	
					{% endif %}	
				</td></tr>
				<tr><th class="saalistilastot">Päivämäärä</th><td class="saalistilastot">{{saalis.saantipaiva | date:"d.m.Y"}}</td></tr>
				<tr><th class="saalistilastot">U/N</th><td class="saalistilastot">{{saalis.sukupuoli}}</td></tr>
    
   				{% endfor %}

				</table>
{{ pagi }}
{% if pagi.has_previous %}
<a class="btn btn-outline-info mb-4" href={{ querystring|add:"1" }}>First</a>
{% with p=pagi.previous_page_number|stringformat:"s" %}
<a class="btn btn-outline-info mb-4" href={{ querystring|add:p }}>Previous</a>
{% endwith %}
{% endif %}

{% for num in pagi_ite %}
{% with num_str=num|stringformat:"s" %}
	{% if pagi.number == num %}
		<a class="btn btn-info mb-4" href={{ querystring|add:num_str }}>{{ num }}</a>
	{% elif num > pagi.number|add:'-3' and num < pagi.number|add:'3' %}
		<a class="btn btn-outline-info mb-4" href={{ querystring|add:num_str }}>{{ num }}</a>
	{% endif %}
	{% endwith %}
{% endfor %}

{% if pagi.has_next %}
{% with n=pagi.next_page_number|stringformat:"s" %}
        <a class="btn btn-outline-info mb-4" href={{ querystring|add:n }}>Next</a>
{% endwith %}
{% with l=pagi.paginator.num_pages|stringformat:"s" %}
		<a class="btn btn-outline-info mb-4" href={{ querystring|add:l }}>Last</a>
{% endwith %}
{% endif %}

</center>







	</div>
        
        <div class = "right_column">

		 <iframe src="http://www.naamisuvanto.net/fi/html/iframe/right_menu.htm"  width="100%" height="100%" frameborder="0" scrolling="no"></iframe> 



        </div>

      
    </div>
    
	<div class = "footer">
<iframe src="http://www.naamisuvanto.net/fi/html/iframe/footer.htm"  width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
	
</div>

	<script src="{%static 'java/header.js'%}"></script>
</body>
